<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <span class="icon collapsible__chevron">
            <img src="./icons/chevron.svg" alt="Chevron Icon">
        </span>
    </header>
    <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur numquam illo fugit alias dolor repudiandae
        quis nesciunt nisi aut esse!
    </div>
</div>
<script src="js/main.js"></script>