<section class="block block--dark block--skewed--left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">Cloud Hosting for Pros</h1>
            <p class="hero__tagline">Deploy your websites in less than 60 seconds.</p>
            <a href="#" class="btn btn--accent btn--stretched">Start</a>
        </header>
        <picture>
            <source type="image/png" src="Images/banner.png 1x, Images/banner@2x.png 2x">
            <img class="hero__image" src="./Images/banner.png" alt="">
        </picture>
    </div>
</section>